.jumbotron {
    text-align: center;
}

tbody {
    height: 500px;
    overflow-y: auto;
    width: 100%;
}

.count {
    display: flex;
}

.card + .card {
    margin-top: 2px;
}

.card-header {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.total-price {
    height: calc(1.5em + .75rem + 6px);
    padding: 4px;
}

.delete-button {
    padding: 0;
}

.delete-button img {
    height: 30px;
    width: 30px;
}

.cart {
    max-height: 600px;
    overflow-y: auto;
}

.complete-order {
    display: none;
    margin-top: 20px;
}

.complete-order-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-price-wrapper {
    font-weight: bold;
    font-size: 20px;
}

.row-image {
    max-width: 100px;
    max-height: 100px;
}

.top-button {
    border-radius: 3px;
    line-height: 20px;
    display: flex;
    transition: all .5s ease-in-out;
    background: linear-gradient(180deg,#90a4ae,#78909c);
    width: 40px;
    height: 40px;
    position: fixed;
    right: 10px;
    bottom: 40px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    justify-content: center;
    align-content: center;

}

.top-button:active {
    background: linear-gradient(180deg,#455a64,#546e7a)!important;
}

.top-button.show {
    opacity: 1;
    visibility: visible;
}

.top-button img {
    width: 16px;
}

.form-control {
    width: 100%;
}
